#yt-trick-end, #yt-trick-start {
    margin: 0;
    border: none;
}

#yt-scroll {
    margin-bottom: 10px;
}

#yt-player-position-container {
    margin: 0 auto;
    display: table;
}

.ui-spinner {
    vertical-align: super;
}

#yt-trick-end-container .ui-spinner {
    float: right;
}