.ui-spinner-input[ng-spinner] {
    margin: 0;
    border: none;
}

.ui-slider[ng-slider] {
    margin-bottom: 10px;
}

.yt-player-position-container {
    margin: 0 auto;
    display: table;
}

.ui-spinner {
    vertical-align: super;
}

.end-trick-slider .ui-spinner {
    float: right;
}