{% extends 'BsVideoBundle::layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <object>
                {#<param name="movie" value="http://www.youtube.com/v/kh29_SERH0Y?version=3&autoplay=1&autohide=1&cc_load_policy=1&iv_load_policy=3&enablejsapi=1&fs=1&modestbranding=1&rel=0&theme=light&ap=%2526fmt%3D22"></param>#}
                <embed src="http://www.youtube.com/v/kh29_SERH0Y?version=3&autoplay=1&autohide=1&cc_load_policy=1&iv_load_policy=3&enablejsapi=1&fs=1&modestbranding=1&rel=0&theme=light&vq=hd720&playerapiid=player&showinfo=0"
                       type="application/x-shockwave-flash"
                       class="span12" height="500">
                </embed>
            </object>
        </div>
        <div class="row">
            {% for group in taggroups %}
                <div class="span4 tag">
                    <strong> {{ group.name }}:</strong>
                    <br>
                    {% for tag in group.tags %}
                        <span class="label label-off">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="container videos">
        <div class="row">


            {% include 'BsVideoBundle:Video:vid.html.twig' %}
            {% include 'BsVideoBundle:Video:vid.html.twig' %}
            {% include 'BsVideoBundle:Video:vid.html.twig' %}
            {% include 'BsVideoBundle:Video:vid.html.twig' %}
            {% include 'BsVideoBundle:Video:vid.html.twig' %}
            {% include 'BsVideoBundle:Video:vid.html.twig' %}

            {% include 'BsVideoBundle:Video:vid.html.twig' %}
            {% include 'BsVideoBundle:Video:vid.html.twig' %}
            {% include 'BsVideoBundle:Video:vid.html.twig' %}
            {% include 'BsVideoBundle:Video:vid.html.twig' %}
            {% include 'BsVideoBundle:Video:vid.html.twig' %}
            {% include 'BsVideoBundle:Video:vid.html.twig' %}


        </div>


        {#<div class="span2">#}
        {#<div class="nav-headers">#}
        {#<h3>Find</h3>#}
        {#</div>#}
        {#<ul class="nav nav-tabs nav-stacked">#}
        {#<li class="active"><a href="#"><i class="icon-picture"></i> Newest</a></li>#}
        {#<li><a href="#"><i class="icon-ok"></i> Popular</a></li>#}
        {#<li><a href="#"><i class="icon-certificate"></i> Top Sites</a></li>#}
        {#<li><a href="#"><i class="icon-bookmark"></i> Most Viewed</a></li>#}
        {#<li><a href="#"><i class="icon-th-list"></i> Categories</a></li>#}
        {#<li><a href="#"><i class="icon-download"></i> Most Download</a></li>#}
        {#<li><a href="#"><i class="icon-heart"></i> Recomended</a></li>#}
        {#</ul>#}
        {#</div>#}
    </div>
    <div class="container">
        <div class="pagination">
            <ul>
                <li class="disabled"><a href="#" title="Go to the first page">&laquo; First</a></li>
                <li><a href="#" title="Go to the previous page">&larr;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">..</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#" title="Go to the next page">&rarr;</a></li>
                <li><a href="#" title="Go to the last page">Last &raquo;</a></li>
            </ul>
        </div>
    </div>

{% endblock %}