{% extends 'BsVideoBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src='http://a.vimeocdn.com/js/froogaloop2.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js'></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/videos.css') }}" rel="stylesheet"/>
    {% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}
{% block content %}
    <div ng-controller="PlaybackController">
        <div class="container">
            <div class="row">
                <div class="span9">
                    <div id="yt-player-container" ng-show="video.service=='y'">
                        <div id="yt-player"></div>
                    </div>
                    <div id="v-player-container" ng-show="video.service=='v'">
                    </div>
                </div>
                <div class="span3">
                    {% include 'BsVideoBundle:Trick:_tricks_list.html.twig' %}
                </div>
            </div>
            {#{% include 'BsVideoBundle:Video:_tags.html.twig' %}#}
        </div>

        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}
    </div>
{% endblock %}