<div class="span2 galery">
    <div class="video">
        <img src="http://img.youtube.com/vi/GF6Ct6B1yfM/hqdefault.jpg"/>
    </div>
    <div class="title">
        <a class="group" rel="group1" href="img/4_b.jpg">
            DC freestyle snowboard ...
        </a>
    </div>
    <div class="count">
        <ul class="pull-left">
            <li rel="tooltip" title="Comments"><i class="icon-comment"></i> 5</li>
            <li rel="tooltip" title="Rating"><i class="icon-star"></i> 2</li>
            <li rel="tooltip" title="Uploader"><i class="icon-user"></i> limi</li>
        </ul>
        <ul class="pull-right">
            <li rel="tooltip" title="Views">20 <i class="icon-eye-open"></i></li>
            <li rel="tooltip" title="Duration">2:12 <i class="icon-time"></i></li>
            <li rel="tooltip" title="Uploaded">1 day ago <i class="icon-upload"></i></li>
        </ul>
    </div>
</div>