{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/icon-style.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/image-gallery.js') }}"></script>
    <script src="{{ asset('js/jquery.mousewheel-3.0.6.pack.js') }}"></script>
{% endblock %}
{% block body %}

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="index.html">
                    Nollie 900
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="divider-vertical"></li>

                    </ul>
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li><a href="signin.html"><i class="icon-lock"></i> Sign in</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="signup.html"><i class="icon-edit"></i> Sign up</a></li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li class="divider-vertical"></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">


   {% include 'AcmeDemoBundle:Welcome:vid.html.twig' %}
   {% include 'AcmeDemoBundle:Welcome:vid.html.twig' %}
   {% include 'AcmeDemoBundle:Welcome:vid.html.twig' %}
   {% include 'AcmeDemoBundle:Welcome:vid.html.twig' %}
   {% include 'AcmeDemoBundle:Welcome:vid.html.twig' %}
   {% include 'AcmeDemoBundle:Welcome:vid.html.twig' %}
   {% include 'AcmeDemoBundle:Welcome:vid.html.twig' %}
   {% include 'AcmeDemoBundle:Welcome:vid.html.twig' %}
   {% include 'AcmeDemoBundle:Welcome:vid.html.twig' %}

    <div class="span2">
        <div class="nav-headers">
            <h3>Find</h3>
        </div>
        <ul class="nav nav-tabs nav-stacked">
            <li class="active"><a href="#"><i class="icon-picture"></i> Newest</a></li>
            <li><a href="#"><i class="icon-ok"></i> Popular</a></li>
            <li><a href="#"><i class="icon-certificate"></i> Top Sites</a></li>
            <li><a href="#"><i class="icon-bookmark"></i> Most Viewed</a></li>
            <li><a href="#"><i class="icon-th-list"></i> Categories</a></li>
            <li><a href="#"><i class="icon-download"></i> Most Download</a></li>
            <li><a href="#"><i class="icon-heart"></i> Recomended</a></li>
        </ul>
    </div>
    </div>
    </div>

    <div class="container">
        <div class="pagination">
            <ul>
                <li class="disabled"><a href="#" title="Go to the first page">&laquo; First</a></li>
                <li><a href="#" title="Go to the previous page">&larr;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">..</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#" title="Go to the next page">&rarr;</a></li>
                <li><a href="#" title="Go to the last page">Last &raquo;</a></li>
            </ul>
        </div>
    </div>

    <div class="container footer">
        <hr class="alt" />
        <div class="row">
            <div class="span6">&copy; 2012 Fransisca Gallery. All right reserved.</div>
            <div class="span6">
                <ul>
                    <li><a href="#">Terms Of Service</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}
{% block container_class %}{% endblock %}