{% extends '::base.html.twig' %}
{% block body %}
    {% set route = app.request.attributes.get('_route') %}
    <header class="container">
        <div class="row">

            <div class="span1">
                <img src="{{ asset('img/logo2.png') }}"/>
            </div>
            <h1 class="span5 brand">Stop fail</h1>

            <div class="pull-right">
                {% if route != 'video_new' %}
                    <a href="{{ path('video_new') }}" class="btn btn-danger btn-large"><strong><i
                                    class="icon-upload icon-white"></i> I'll show</strong></a>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="main-menu" class="navbar ">
                    <div class="navbar-inner">
                        <div class="container">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>

                            <div class="nav-collapse">
                                <ul class="nav">
                                    <li {% if route == 'video' %}class="active"{% endif %}>
                                        <a href="{{ path('video') }}">
                                            <i class="icon-film"></i> Cinema
                                        </a>
                                    </li>
                                    <li  {% if route == 'term' %}class="active"{% endif %}>
                                        <a href="{{ path('term') }}">
                                            <i class="icon-book"></i> Library
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav pull-right ">
                                    <li class="divider-vertical"></li>
                                    <li rel="tooltip" title="Registration / Login"><a href="signin.html"><i
                                                    class="icon-check"></i> I'm with you</a></li>
                                    <li class="divider-vertical"></li>
                                </ul>
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}

    <footer class="container">
        <hr class="alt"/>
        <div class="row">
            <div class="span6">&copy; 2013 Stop fall. All right reserved.</div>
            <div class="span6">
                <ul>
                    <li><a href="#">Terms Of Service</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
        </div>
    </footer>


{% endblock %}
